.account-masthead {background: none;}
.account-masthead .account ul li a {color: #404040;}
.account-masthead .account ul li a:hover {
  color: #404040;
  background-color: #e8e8e8;
}
.account-masthead .account .notifications a span.badge {background-color: #404040;}

.masthead {background-color: #404040}
#main-navigation-toggle {background-color: #404040}
.site-footer {
  background-color: #404040; 
  color: #eff5f4;
}
.masthead .nav > li > a, 
.masthead .nav > li > a:focus, 
.masthead .nav > li > a:hover, 
.masthead .nav > .active > a, 
.masthead .nav > .active > a:hover, 
.masthead .nav > .active > a:focus {
   color: #eff5f4;
   background-color: #404040 !important;
}
.masthead .nav > li > a:focus, 
.masthead .nav > li > a:hover, 
.masthead .nav > .active > a, 
.masthead .nav > .active > a:hover, 
.masthead .nav > .active > a:focus {
   text-decoration: underline;
}
.language-active {
   font-weight: normal !important;
   text-decoration: underline;
}

a {color: #404040;}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #404040 !important;
    color: #eff5f4 !important;
}

.btn-primary {
    color: #404040;
    background-color: #e6c939;
    border-color: #e6c939;
}
.btn-primary:hover,
.btn-primary:focus {
    color: #404040;
    background-color: #e6c939;
    border-color: #404040;
    box-shadow: none;
}
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle {
    color: #404040;
    background-color: #e6c939 !important;
    border-color: #e6c939 !important;
    box-shadow: none !important;
}
.btn-danger {
    color: #404040;
    background-color: #c8e0de;
    border-color: #c8e0de;
}
.btn-danger:hover, 
.btn-danger:focus {
    color: #404040;
    background-color: #c8e0de;
    border-color: #404040;
    box-shadow: none;
}
.btn-danger:active,
.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active, 
.show>.btn-danger.dropdown-toggle {
    color: #404040;
    background-color: #c8e0de !important;
    border-color: #c8e0de !important;
    box-shadow: none !important;
}
.btn-success {
     color: #404040;
    background-color: #c8e0de;
    border-color: #c8e0de;
}
.btn-success:hover {
    color: #404040;
    background-color: #c8e0de;
    border-color: #404040;
}
.btn-success:focus,
.btn-success:active,
.btn-success:not(:disabled):not(.disabled).active, 
.btn-success:not(:disabled):not(.disabled):active, 
.show>.btn-success.dropdown-toggle {
    color: #404040;
    background-color: #c8e0de!important;
    border-color: #c8e0de !important;
    box-shadow: none !important;
}
.btn.focus, .btn:focus {box-shadow: none;}

.module-heading {background-color:#e8e8e8}
.nav-item.active > a:before, .nav-aside li.active a:before {border-left-color:#c8e0de;}
.nav-item.active > a, .nav-aside li.active a {
   color: #404040;
   background-color: #c8e0de;
}
.pill {
   color: #404040;
   background-color: #c8e0de;
}
.fa-remove:before, .fa-close:before, .fa-times:before {color: #404040;}
.context-info .nums dl {
    color: #404040;
    background-color: rgba(230, 201, 57, 0.2);
    border: rgba(230, 201, 57, 0.3);
}
.label-info {
    color: #404040;
    background-color: #c8e0de;
}

.flash-messages .alert {
    color: #404040;
    background-color: rgba(230, 201, 57, 0.2);
    border: rgba(230, 201, 57, 0.3);
}
.well {
    background-color: rgba(232, 232, 232, 0.4);
    border: 1px solid rgba(232, 232, 232, 0.5);
}

.site-footer {border-top:none;}
.footer-links a {color: #e8e8e8}
.footer-links a:hover{
  text-decoration: underline;
   color: #eff5f4;
}
.site-footer .row .col-sm-12.col-md-6 {display: none;}
.site-footer .social-icons a {background-color: #e8e8e8;}

.hero {background: none !important;}
.heading {color: #404040;}
.subheading {color: #404040;}
.ckan-lead {color: #404040 !important;}
.ckan-sub {color: #404040 !important;}
.counter {color: #404040;}
.main-counter-data {color: #404040;}
.main-counter {color: #404040;}
.main-counter-data:hover {color: #404040 !important;}
.main-counter:hover {color: #404040 !important;}
.hero {min-height: unset !important;}
.copyright-text {display:none;}

@font-face{
    font-family:Manrope-Light;
	src: url('./fonts/Manrope-Light.ttf') format('truetype');
    font-weight:400;
    font-style:normal
}
@font-face{
    font-family:Manrope-Regular;
	src: url('./fonts/Manrope-Regular.ttf') format('truetype');
    font-weight:400;
    font-style:normal
}
@font-face{
    font-family:Manrope-Medium;
	src: url('./fonts/Manrope-Medium.ttf') format('truetype');
    font-weight:400;
    font-style:normal
}
@font-face{
    font-family:Manrope-SemiBold;
	src: url('./fonts/Manrope-SemiBold.ttf') format('truetype');
    font-weight:400;
    font-style:normal
}
@font-face{
    font-family:Manrope-Bold;
	src: url('./fonts/Manrope-Bold.ttf') format('truetype');
    font-weight:400;
    font-style:normal
}
html {
    font-family: "Manrope-Regular", "MyriadPro-Regular","SohoGothicPro-Regular", "Helvetica neue", Helvetica, Arial, sans-serif;
}
body {
    font-family: "Manrope-Regular", "MyriadPro-Regular","SohoGothicPro-Regular", "Helvetica neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
}
tooltip {  
	font-family: "Manrope-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.popover {
	font-family: "Manrope-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.ckan-menu-btn {
	font-family: "Manrope-Regular", "SohoGothicPro-Regular", Arial, sans-serif;
}
.navbar-brand {
	font-family: "Manrope-Regular", "SohoGothicPro-Regular", Arial, sans-serif;
}
.ckan-feature .ckan-feature-lead, .ckan-feature .ckan-figure-lead, .ckan-figure .ckan-feature-lead, .ckan-figure .ckan-figure-lead {
	font-family: "Manrope-Regular", "SohoGothicPro-Regular", Arial, sans-serif;
}
.ckan-uppercase-sm {
	font-family: "Manrope-Regular", "SohoGothicPro-Regular", Arial, sans-serif;
}
.ckan-nav-toggle > span {
	font-family: "Manrope-Regular", "SohoGothicPro-Regular", Arial, sans-serif;
}
.ckan-counter {
	font-family: "Manrope-Regular", "SohoGothicPro-Regular", Arial, sans-serif;
}
.ckan-counter-label {
	font-family: "Manrope-Regular", "SohoGothicPro-Regular", Arial, sans-serif;
}
.context-info .nums dl dt {
    font-family: "Manrope-Light", SohoGothicPro-Light;
}
.masthead .nav > li > a,
.masthead .nav > li > a:focus,
.masthead .nav > li > a:hover,
.masthead .nav > .active > a,
.masthead .nav > .active > a:hover,
.masthead .nav > .active > a:focus {
    font-family: Manrope-Bold, SohoGothicPro-Medium;
}
.ckan-section-heading .ckan-lead {
	font-family: Manrope-Regular, PlayfairDisplay-Regular;
}
.homepage .module-search .module-content .heading {
	font-family: Manrope-Regular, PlayfairDisplay-Regular;
}
.main-counter-data > small {
    font-size: 65%;
}

h1 {
  font-size: 26px;
}
h2 {
  font-size: 19px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 12px;
}
.counter{
	padding-top: 5px;
}